.btns-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  gap: 0.5rem;
}

.btns-div .undo-btn,
.btns-div .check-solution-btn,
.btns-div .solve-btn,
.btns-div .hint-btn,
.btns-div .clear-board-btn,
.btns-div .new-game-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 50px; */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #4C3BCF;
  background-color: #C2D9FF;
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
  transition: transform 0.3s ease;
  width: 6.5rem;
  /* margin-bottom: -4rem;
    margin-left: -22.5rem;   */
}


.btns-div .undo-btn:hover,
.btns-div .check-solution-btn:hover,
.btns-div .solve-btn:hover,
.btns-div .hint-btn:hover,
.btns-div .clear-board-btn:hover,
.btns-div .new-game-btn:hover {
  color: #f9f7f7;
  background-color: #4C3BCF;
  transition: .3s;
}

.btns-div .undo-btn:active,
.btns-div .check-solution-btn:active,
.btns-div .solve-btn:active,
.btns-div .hint-btn:active,
.btns-div .clear-board-btn:active,
.btns-div .new-game-btn {
  animation: clickEffect 0.3s forwards;
}

@keyframes clickEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.btns-div .undo-btn b,
.btns-div .check-solution-btn b,
.btns-div .solve-btn b,
.btns-div .hint-btn b,
.btns-div .clear-board-btn b,
.btns-div .new-game-btn b {
  padding-top: 0.5rem;
  font-size: 0.7rem;
}

.btns-div .hint-btn .hints-nbrs {
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 1.2rem;
  padding: 0.1rem 0 0 0;
  position: absolute;
  margin-bottom: 3.2rem;
  margin-left: 1.8rem;
  font-size: 1rem;
}


.tooltip {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4C3BCF;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: none;
  pointer-events: none;
}

.solve-btn:hover .tooltip {
  display: block;
  cursor: default;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #4C3BCF transparent transparent transparent;
}

.btns-div .solve-btn[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
  animation: none;
}

/* /////////////////////    media queries       ////////////////////////// */


@media (max-width: 1024px){

  .btns-div .undo-btn,
  .btns-div .check-solution-btn,
  .btns-div .solve-btn,
  .btns-div .hint-btn,
  .btns-div .clear-board-btn{
    font-size: 2rem;
  }

}

@media (max-width: 768px){

  .btns-div {
    flex-wrap: wrap;
  }

  .btns-div .undo-btn,
.btns-div .check-solution-btn,
.btns-div .solve-btn,
.btns-div .hint-btn,
.btns-div .clear-board-btn{
  font-size: 1.5rem;
}

.btns-div .undo-btn,
.btns-div .hint-btn,
.btns-div .solve-btn{
  width: 3rem;
}

.btns-div .clear-board-btn{
  width: 6rem;
}

}


@media (max-width: 390px){

  .btns-div {
    margin-top: 1rem;
    padding-left: .5rem;
    flex-wrap: wrap;
  }

}