.game-container {
  /* position: relative; */
  width: 850px;
  background: #f9f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 50px; */
  padding: 30px 40px;
  height: 100vh;
  z-index: 1;
}

.game-container .header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  margin-bottom: 2rem;
}

.game-container .header .sudoku-image {
  width: 30px;
  margin-bottom: 10px;
  animation: zoomInOut 2s ease-in-out infinite;
}

@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

.game-container .game-name {
  font-family: "Cinzel", serif;
  font-weight: 700;
  font-size: 2rem;
  color: #4a4a4a;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right, #2208e7, #4C3BCF);
  background-clip: text;
  color: transparent;
  font-style: italic;
  text-transform: uppercase;
}

.game-container .mistakes-timer-part {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  z-index: 10;
}

.game-container .mistakes {
  /* margin-left: -15rem; */
  font-size: 1rem;
}

.mistakes span {
  color: red;
}



/* /////////////////// media queries //////////////////////// */

@media (max-width: 768px){

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0 10px; */
    justify-content: center;
    /* height: 100vh; */
    background: #112d4e;
  }


  .game-container {
    position: absolute;
    top: 0;
    left:0;
    flex-direction: column;
    /* padding: 30px 15px; */
    align-items: center;
    width: 100%;
    height: 100%;
    
  }

  .game-container .game-name {
    margin-top: 1rem;
    font-size: 1.5rem;
  }


  .game-container .diff{
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    gap: .5rem;
    margin-left: 0rem;
    margin-bottom: 1rem;
  }

  .game-container .mistakes-timer-part {
    gap: 5rem;
    margin-top: 1.5rem;
  }



  .number-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  
  .number-button {
    width: 30px;
    height: 35px;
    font-size: 1.3rem;
  }
  
  .game-modal .content {
    width: 300px;
  }
}

