body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  /* min-height: 100vh; */
  background: #112d4e;
}

.game-container {
  position: relative;
  width: 850px;
  background: #f9f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 50px; */
  padding: 60px 40px;
  box-shadow: rgba(0, 0, 0, 0.1);
  height: 100vh;
  z-index: 1;
}

.game-container .game-name {
  font-family: "Cinzel", serif;
  font-weight: 700;
  font-size: 2rem;
  color: #4a4a4a;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right, #374b8d, #2102d3);
  background-clip: text;
  color: transparent;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.game-container .mistakes {
  margin-left: -15rem;
  font-size: 1.2rem;
}

.mistakes span {
  color: #ff0000;
}

.btns-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 0.5rem;
}

.btns-div .undo-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  /* height: 50px; */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #325aaf;
  background-color: #ebeff5;
  font-size: 1.5rem;
  padding: 0.4rem 0.5rem;
  /* margin-bottom: -4rem;
  margin-left: -22.5rem;   */
}

.undo-btn:hover {
  color: #f9f7f7;
  background-color: #3f72af;
}

.undo-btn b {
  font-size: 0.7rem;
}

.check-solution-btn {
  /* height: 50px; */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #325aaf;
  background-color: #ebeff5;
  font-size: 1rem;
  padding: 0.9rem 0.5rem;
  /* margin-bottom: -4rem;
  margin-left: -22.5rem; */
}

.check-solution-btn:hover {
  color: #f9f7f7;
  background-color: #3f72af;
}

.game-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: flex;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 0.4s ease;
  transition: all 0.3s ease;
}

.game-modal.show {
  opacity: 1;
  pointer-events: auto;
}



/* /////////////   diff-container   /////////// */

.game-container .diff{
  display: flex;
  align-items: flex-start;
  gap: .5rem;
  margin-left: -10rem;
}

.game-container .diff h1{
  font-size: 1.2rem;
  color: #325aaf;
}