*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SudokuGrid.css */

.sudoku-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0px;
  border: 1px solid #333;
  width: fit-content;
  
}

.sudoku-cell {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 2px solid #ddd;
  /* background-color: #F0EDCF; */
}

.sudoku-cell.highlighted {
  background-color: #e0f7fa; 
}

.sudoku-cell.mistake-number {
  background-color: #81d4fa; /* Slightly lighter red for mistaken number */
}

.sudoku-cell.conflict {
  background-color: #ffcccc; /* Light red for conflict */
}

.sudoku-cell.focused {
  background-color: #81d4fa; 
}


/* Add thicker borders to separate 3x3 sections */
.sudoku-cell.border-top {
  border-top: 2px solid #333;
  
}
.sudoku-cell.border-left {
  border-left: 2px solid #333;
}
.sudoku-cell.border-right {
  border-right: 2px solid #333;
}
.sudoku-cell.border-bottom {
  border-bottom: 2px solid #333;
}

.number-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.number-button {
  width: 40px;
  height: 50px;
  box-shadow: 5px 5px rgba(0,0,0,0.1);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #325aaf;
  background-color: #ebeff5;
  font-size: 2.5rem;
}

.number-button:hover{
  background-color: #81d4fa;
}



