* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
  background: #f9f7f7;
}

@media (min-width: 1024px) {
  body {
    background: #4c3bcf;
  }
}
